@tailwind base;
@tailwind components;
@tailwind utilities;

.p-dialog-footer{
        display: flex  !important;
            justify-content: end !important;;
            gap: 22px !important;;
}



.p-dropdown-filter-container .p-dropdown-filter{
    /* @apply outline-none px-4 py-3 border-1 border-black; */
    outline: none;
    padding: 5px 15px;
    border: .3px solid rgb(103, 103, 103);
    
}

 